
#beer-container {
    width: 90%;
    max-width: 900px;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.beer-header {
    
    text-align: center;
}
.beer-button-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;;
    flex: 1;
    
}

#beer-button {
    width: 100%;
    background-color: #FBCE3A;
    border: none;
    outline: none;
}


#beer-button:hover {
    height: 50px;
    background-color: gray;
    border: none;
    outline: none;
}

.beer-displayer {
    height: 85%;
    /*border: 2px solid brown;*/
}

.abv-datebrew-container {
    display: flex;
    justify-content: space-around;

}

.beer-img-container {
    /*border: 3px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.beer-img
 {
    /*border: 3px solid blue;*/
    width: auto;
    height: 600px;
    
}

.beer-name,
.beer-tagline {
    text-align: end;
    
}
.beer-name {
    color: #c9595f;
    font-size: 50px;
}

.beer-tagline {
    color: gray;
    font-style: italic;
}

.beer-described {
    background-color: #E0D0B8;
    padding: 5px;
    border-radius: 25px;
    margin: 10px;
}

.beer-description-title,
.beer-description {
    margin: 10px;
    color: #372f2f;
}
