body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

h1 {
    font-size: 36x;
}

.api-section {
    width: 90%;
    max-width: 900px;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.api-content {
    font-weight: bold;
    font-style: italic;
    color: #999;
}

#dog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-display {
    border: 3px solid black;
}
#weather-button {
    margin: 2px;
    margin-top: 16px;
}

.weather-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;;
}

th,
td {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
}

.future-forecast-container {
    /*border: 3px solid black;*/
    width: 70%;
    display: flex;
    margin: 20px;
}

.card-title,
.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}